body {
    background-color: whitesmoke;
    text-align: center;
}

div {
    background-color:plum;
    text-align: center;
    height: 400px;
    width: 400px;
    margin:auto;
}

p {
    height: 100px;
}

.next, .previous {
    display: none;
}
