body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Crimson Text', serif;
    background-color: #E5D9F2;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin:auto;
    position: relative;
}

.header {
    font-family: 'rouge script', cursive;
    font-weight: bold;
    background-color: #A594F9;
    margin: 25px auto;
    width: 75%;
    font-size: 20px;
    color: #F5EFFF;
    border-radius: 10px;
}

.progress-bar {
    background-color:  #A594F9;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    display: none;
}

.progress-status {
    background-color: #F5EFFF;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    color: #7371FC;
}

.start-page {
    background-color: #A594F9;
    text-align: center;
    height: 70%;
    width: 75%;
    margin:25px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: #F5EFFF;
    border-radius: 10px;
}

.intro-page {
    padding: 5rem;
}
.game {
    background-color: #A594F9;
    text-align: center;
    /* height: 70%; */
    width: 75%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    color: #F5EFFF;
    border-radius: 10px;
}

.results {
    font-size: 26px;
}

.results-message {
    font-family: 'rouge script', cursive;
    font-size: 36px;
    position: fixed;
    background-color: plum;
    top: 0;
    left: 0;
    margin: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .5s;
    opacity: 0;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #F5EFFF;
    color: #7371FC;
    font-family: 'crimson text', serif;
}

.start-over, .start-game, .restart {
    margin: 0px 0px 15px 0px;
}

.final-score {
    padding: .5rem;
    border-radius: 50px;
    background-color: #7371FC ;
    color: #F5EFFF;
    border: 2px solid #F5EFFF;
    display: none;
}

.submit {
    border: none;
    border-radius: 5px;
    background-color: #F5EFFF;
    color: #7371FC;
    font-family: 'crimson text', serif;
}

.answer-text {
    border: solid #F5EFFF;
    border-radius: 5px;
    color: #7371FC;
}

.end-page {
    background-color: #A594F9;
    text-align: center;
    height: 70%;
    width: 75%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    color: #F5EFFF;
    border-radius: 10px;
}
